@mixin iERP-combobox {
	
	.v-filterselect {
		position: relative;
		
	}
	
	.v-filterselect-input {
		@include appearance(none);
		background: transparent;
		border: none;
		padding: 0 1.9em 0 0;
		margin: 0;
		/*font-size: inherit;*/
		width: 100% !important;
		height: 22px;
		font-size: 12.5px;
		
	}
	
	.v-filterselect-input:focus {
		outline: none;
	}
	
	.v-filterselect-button {
		position: absolute;
		right: 1.5em;
		width: 0;
		height: 0;
		border: 1px solid;
		border-width: .5em .45em;
		border-color: #646E77 transparent transparent;
		top: 0.5em;
		background: transparent;
	}
	
	.v-filterselect-suggestpopup {
		margin-top: .4em !important;
		background:#fafafa;
		color:black;
		font-size: 12px;
	min-width: 6em;
		text-shadow: none;
		
	}
	
	.v-filterselect-suggestmenu tr {
		line-height: inherit;
		/*background:yellow;
		color:green;*/
		
	}
	
	.v-filterselect-prevpage-off,
	.v-filterselect-prevpage,
	.v-filterselect-nextpage-off,
	.v-filterselect-nextpage {
		background: transparent;
	}
	
	.v-filterselect-prevpage-off,
	.v-filterselect-prevpage {
		padding-bottom: 5px;
	}
	
	.v-filterselect-nextpage-off,
	.v-filterselect-nextpage {
		padding-top: 5px;
	}
	 
	.v-filterselect-prevpage-off span,
	.v-filterselect-prevpage span,
	.v-filterselect-nextpage-off span,
	.v-filterselect-nextpage span {
		width: 0;
		height: 0;
		border: 1px solid;
		border-width: .5em .45em;
		border-color: transparent transparent #aaa;
		overflow: hidden;
		display: inline-block;
	}
	
	.v-filterselect-nextpage-off span,
	.v-filterselect-nextpage span {
		border-color: #aaa transparent transparent;
	}
	
	.v-filterselect-prevpage:hover span {
		border-bottom-color: #fff;
	}
	
	.v-filterselect-nextpage:hover span {
		border-top-color: #fff;
	}
	
	.v-filterselect-status {
		color: #999;
		font-size: 12px;
		text-shadow: none;
	}

}