@mixin iERP-textfield {
	
	.v-textfield,
	.v-textarea,
	.v-filterselect {
		@include border-radius(3px);
		border: 1px solid #c9c8c7;
		border-top-color: #d8d7d6;
		
		background: #fff;
		box-shadow: 0 0 0 2px rgba(51,50,49,.07);
		
		font: inherit;
		color: inherit;
		line-height: 1;
		
		margin: 0;
	}
	input.v-widget.v-textfield,.v-textarea,
	.v-filterselect {
		padding: -0.7em 0em;	
	}
	
	.v-webkit & input.v-textfield,.v-textarea,
	.v-webkit & .v-filterselect {
		padding-bottom: .3em;	
	}
	
	.v-textfield:focus,.v-textarea:focus,
	.v-filterselect-focus {
		outline: none;
		border-color: #69a5e4;
	}
	
	input.v-textfield-prompt,.v-textarea-prompt,
	.v-filterselect-prompt .v-filterselect-input {
		font-style: normal;
	}
	
	input.v-widget.v-textfield.small,v-textarea-small,
	.v-filterselect.small {
		padding: .15em .2em;
		font-size: 12px;
	}
	
	
	.v-webkit & input.v-textfield.small,v-textarea-small,
	.v-webkit & .v-filterselect.small {
		padding-bottom: .2em;
	}
	
	.v-textfield.textright
	{
	text-align: right;
	}
	.v-textfield.textborder {
	 margin: 0px 0px 0px  845px;
      padding: 1 px;
       text-align: center;
       	border: 1px solid #c9c8c7;
		border-top-color: #d8d7d6;
	}
	
	.v-textfield.texttotal
	{
	text-align: right;
	font-size: 15px;
	color:blue;
	}
	
	.v-textfield.textbold
	{
	text-align: right;
	font-weight: bold;
	color:black;
	}
	
	.v-textfield.textcaption
	{
	font-weight: bold;
	font-size: 16px;
	}
	.v-textfield.whitecaption
	{
	font-weight: bold;
	font-size: 16px;
	}
	.v-textfield-caption.whitecaption
	{
	font-weight: bold;
	font-size: 16px;
	color:white;
	}
	
	.iERP .login-panel .v-captiontext-textcolor {
	color: #ffff;
	font-size: 13px;
}
	
}